[Unit]
After=can_setup.service
Requires=can_setup.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/home/charger/Git/socketcan_mcap_logger/build/MCL --config_file="/home/charger/Git/socketcan_mcap_logger/config/config.yaml"'
Restart=on-failure

[Install]
WantedBy=multi-user.target
